@(square: service.Square, colorO:Option[service.Color], className: String = "square")

@colorTable(color: service.Color) = @{
    color.char.toString match {
        case "B" => "background-color:Blue;"
        case "G" => "background-color:Green;"
        case "R" => "background-color:Red;"
        case "P" => "background-color:PeachPuff;"
        case "Y" => "background-color:Yellow;"
        case "I" => "background-color:Indigo;"
        case "Z" => ""
    }
}

@cssStyle(sq: service.Square, cO:Option[service.Color]) = @{
    val color = sq match {
        case service.Block(col) => col
        case service.Full => cO.getOrElse(service.Color('Z'))
        case _ => service.Color('Z')
    }

    colorTable(color)
}

<td class="@className" style=@cssStyle(square, colorO)> @{square match {
    case service.Block(color) => " "
    case _ => " "
}}</td>


